body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: #33a;
    text-align: center;
}
#post{
    margin: 30px;
}
#encabezado{
    background-color: #33a;
    color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 2px 5px #000;
}